node_modules

src/

.vite/
dist/**/*.map
*.local

test/
__tests__/
*.spec.ts
*.test.ts

*.log
*.env
*.env.*
*.config.*
.vscode/
.idea/
*.tsconfig.json
*.eslintrc.js
*.eslintrc.cjs
.eslintignore
.prettierrc
.prettierignore
*.eslintignore
*.npmignore
.yarn.lock
pnpm-lock.yaml
package-lock.json

coverage/
temp/
.DS_Store
Thumbs.db
